html {
  height:100%;
}
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #83a4d4, #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100;
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: sans-serif;
  color:white;
}
.title {
  font-size: 2.5em;
}
